</p><div class="container">
  <div class="row title-row">
    <div class="col-sm-12 well">
      <h3>Create a new ranking list</h3>
      <%= bootstrap_form_for(@list) do |f| %>
        <%= f.text_field :title %>
        <%= f.submit "Create New List!" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if @lists.length > 0 %>
      <% @lists.each do |list| %>
        <div class="col-sm-12 list-col">
          <h1><%= link_to list.title, list_path(list)  %></h1>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
